body {
	font-family: monospace;
	background-color: #f3f9ff;
}

.editor-control {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* IDE */
.editor-ide {
	position: absolute;
	width: 70%;
	border: 1px solid #AAA;
	background-color: #f3f9ff;
}

/* Editor Side Panel */
.editor-side-panel {
	position: absolute;
	height: 100%;
	width: 30%;
	right: 0;
	top: 0;
}

.editor-actions > div > label {
	display: block;
	color: #333;
	margin: 5px 0;
}

.editor-actions {
	margin: 0 10px;
}

.editor-actions > div {
	margin: 0 0 10px;
}

.editor-actions a {
	display: inline-block;
	padding: 0.7em 1.4em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
	background-color: #999;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
	text-align: center;
	position: relative;
	cursor: pointer;
}

.editor-actions a:active {
	border: 1px solid #000;
}

.editor-actions textarea {
	background: #000;
	color: green;
}

.editor-actions .editor-console-stdin {
	background: #000;
	color: green;
	border-radius: 5px;
	border: 1px solid #FFF;
}

.editor-options {
	border: 1px solid #AAA;
	padding: 5px;
	margin: 10px 0;
}

.editor-options label {
	color: #333;
}

.editor-transpiled-area {
	width: 100%;
	height: 200px;
}

.editor-console-stdout {
	width: 100%;
	height: 200px;
}

.editor-console-stdin {
	width: 100%;
}